@page "/barvicky"

<PageTitle>Barvičky</PageTitle>

<h1>Barvičky</h1>

<div>
    <table>
        <tbody>
            <tr>
                @for (int j = 0; j < grafika.BarvySeznam.Count; j++)
                {
                    var bunka = grafika.BarvySeznam[j];
                    <td class="@bunka.StyleClassName" @onclick="()=>grafika.OnCellClick(bunka)">@bunka.Hodnota</td>
                }
            </tr>

        </tbody>
    </table>
</div>


<div class="mt-2">
    <table>
        <tbody>
            @for (int i = 0; i < grafika.Matice.GetLength(0); i++)
            {
                <tr>
                    @for (int j = 0; j < grafika.Matice.GetLength(1); j++)
                    {
                        var bunka = grafika.Matice[i, j];
                        <td class="@bunka.StyleClassName" @onclick="()=>grafika.OnCellClick(bunka)">@bunka.Hodnota</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    private Models.Grafika grafika = new Models.Grafika(10,12,4);

}
